<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <nav>
        <h1><a href="/" style="color: blue; text-decoration: none;">Posts</a></h1>
        <button style="left: 90%; bottom: 93%; position: absolute;"><a href="{% url 'add' %}" >Add post</a></button>
        <hr>
    </nav>
    
    <div class="home">
        
        <div>

            {% for post in posts %}
                @{{post.host}}<br>
                <img src="{{ post.img.url }}" width="400" height="200">
                <br>
                <p>{{post.comment}}</p>
                <hr>
            {% endfor %}
        </div>

        
    </div>
</body>
</html>